.footer{
    max-width: 1400px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
        span{
        color: #f6214b;
    }
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
        align-items: center;
        color: black;
        .icon{
            background-color: #f9f9f9;
            height: 47px;
            width: 47px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            &:hover{
                color: white;
                background-color: #f6214b;
            }
        }
    }
    
}