main{
    #home-banner{
        background-color: $bg-color-mu;
        padding: 55px 0;
        .home-banner{
            @include displayF();
            column-gap: 150px;
            @media only screen and (max-width:767px) {
                flex-direction: column;
            }
            .home-banner-content{
                @include displayF(flex,center,left);
                flex-direction: column;
                row-gap: 25px;
                position: relative;
                h1{
                    color: $color-light;
                    max-width: 535px;
                    position: relative;
                    z-index: 1;
                }
                p{
                    color: #FFFFFFA3;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    max-width: 470px;
                }
                .banner-btn{

                    .work{
                        @extend %red-btn;
                        transition: all 0.3s;

                        &:hover{
                            background-color: transparent;
                            border: 1px solid $secondary-color

                        }
                    }
                    .contact{
                        @extend %transparent-btn;
                    
                        border: transparent;
                        margin-left:30px  ;
                        transition: all 0.3s;
                        width: 154px;
                        font-weight: 400;

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.199);
                        }
                    }
                }
                .star{
                    position: absolute;
                    top: 0;
                    right: 20%;
                }
                .banner-comment{
                    @include displayF(flex,baseline,center);
                    margin-top: 50px;
                    .comment-content{
                        margin-left: 20px;
                        span{
                            color: $color-light
                        }
                    }
                }
            }
            .home-banner-image{
                img{
                    width: 100%;
                }

            }
        }
    }
    #logos{
        background-color: $bg-color-lu;
        padding: 55px 0;
        .logos{
            @include displayF();
            gap: 90px;

            @media only screen and(max-width:767px) {
                
            }
        }
    }
}