main{
    #home-banner{
        background-color: $bg-color-mu;
        padding: 55px 0;
        .home-banner{
            @include displayF(flex,space-between,center);
            column-gap: 150px;
            @media only screen and (max-width:767px) {
                flex-direction: column;
                row-gap: 70px;
            }
            .home-banner-content{
                @include displayF(flex,center,left);
                flex-direction: column;
                row-gap: 25px;
                position: relative;
                @media only screen and (max-width:767px){
                    order: 1;
                }
                h1{
                    color: $color-light;
                    max-width: 535px;
                    position: relative;
                    z-index: 1;
                    @media only screen and (max-width:767px){
                        font-size: 56px;
                        line-height: 64px;
                        letter-spacing: -1px;

                    }
                }
                p{
                    color: #FFFFFFA3;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    max-width: 470px;
                }
                .banner-btn{

                    
                    .work{
                        @extend %red-btn;
                        transition: all 0.3s;

                        &:hover{
                            background-color: transparent;
                            border: 1px solid $secondary-color

                        }

                        @media only screen and (max-width:767px){
                            padding: 16px 26px;
                        }
                    }
                    .contact{
                        @extend %transparent-btn;
                    
                        border: transparent;
                        margin-left:30px  ;
                        transition: all 0.3s;
                        width: 154px;
                        height: 56px;
                        font-weight: 400;

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.199);
                        }
                        @media only screen and (max-width:767px){
                            padding: 16px 26px;
                        }
                    }
                }
                .star{
                    position: absolute;
                    top: 0;
                    right: 20%;
                    @media only screen and (max-width:767px){
                        display: none;
                    }
                }
                .banner-comment{
                    @include displayF(flex,baseline,flex-start);
                    margin-top: 50px;
                    .comment-content{
                        margin-left: 20px;
                        span{
                            color: $color-light
                        }
                    }

                    .comment-img{
                        @include displayF();

                        img{
                            @media only screen and (max-width:767px){
                                align-items: flex-start;
                            }
                        }
                    }
                }
            }
            .home-banner-image{
                img{
                    width: 100%;
                }

            }
        }
    }
    #home-about{
        background-color: $bg-color-lu;
        padding: 55px 0;
        .home-about{
            @include displayF(flex,space-between,center);
            column-gap: 150px;
            @media only screen and (max-width:767px) {
                flex-direction: column;
                row-gap: 70px;
            }
            .home-about-image{
                img{
                    width: 100%;
                }
            }
            .home-about-content{
                @include displayF(flex,center,left);
                flex-direction: column;
                row-gap: 25px;
                h2{
                    max-width: 535px;
                    @media only screen and (max-width:767px){
                        font-size: 40px;
                        line-height: 48px;
                    }
                }
                .first-p{
                    @extend %text
                }
                p{
                    max-width: 470px;
                    @extend %text_gray
                }
                .about-content-btn{

                    button{
                        @extend %white-btn;
                        transition: all 0.3s;

                        &:hover{
                            background-color: $secondary-color;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                    }
                }
    
            }

        }
    }
    #home-showing{
        background-color: $bg-color-lu;
        padding: 55px 0;
        .home-showing{
            .col-4{
                padding: 0;
                .showing-number{
                    border: 1px solid $hr-color;
                    padding: 40px;
                    @include displayF(flex,center,left);
                    flex-direction: column;
                    row-gap: 25px;

                }
            }
        }
    }
    #logos{
        background-color: $bg-color-lu;
        padding: 55px 0;
        .logos{
            @include displayF(flex,space-between,center);
            gap: 90px;  
            padding: 40px 0;
            border-bottom: 1px solid $hr-color;
            ;
            img{
                width: 100%;
            }
            @media only screen and (max-width:767px) {
                flex-direction: column;
                row-gap: 20px;

            }
        }
    }
}