*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 99vw;
    height: 260vh;
}

.lists .list{
    width: 100%;
    height: 500px;
}

.list .head{
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
}
.list .head p{
    color: green;
    text-transform: capitalize; 
}