html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main #home-banner .home-banner .home-banner-content .banner-btn .contact, header #nav .nav .nav-btn button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2941176471);
  border-radius: 6px;
  font-weight: 900;
  font-size: 14px;
  padding: 15px 30px;
  color: #fff;
}

main #home-banner .home-banner .home-banner-content .banner-btn .work {
  background-color: #EF6D58;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 900;
  font-size: 14px;
  padding: 20px 30px;
  color: #fff;
  text-transform: uppercase;
}

#newsletter .newsletter button, #blog-second-col .second-col-btn button, footer #footer-contact .footer-contact .footer-contact-content .footer-contact-btn button {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 900;
  font-size: 14px;
  width: 170px;
  height: 48px;
  color: #391400;
  text-transform: uppercase;
}

#blog-second-col .col-content p, main #blog-first-col .blog-first-col .col-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}

#blog-second-col .col-content span, main #blog-first-col .blog-first-col .col-content span, footer #footer-contact .footer-contact .footer-contact-content p, header #blog-article .blog-article p, header #about-me .about-me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.6392156863);
}

#newsletter .newsletter input {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 270px;
  height: 48px;
  border: 1px solid #F3D1BF;
  padding: 0 20px;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #391400;
  text-transform: capitalize;
}

h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}

h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #EF6D58;
  text-transform: uppercase;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue";
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

.p-right-0 {
  padding-right: 0;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
  .container {
    max-width: 90%;
  }
}
header #nav {
  background-color: #28293E;
}
header #nav .nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #nav .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
header #nav .nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  transition: all 0.3s;
}
header #nav .nav ul li a:hover {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  header #nav .nav ul {
    display: none;
  }
}
header #nav .nav .nav-btn button {
  transition: all 0.3s;
}
header #nav .nav .nav-btn button:hover {
  background-color: rgba(255, 255, 255, 0.199);
}
@media only screen and (max-width: 767px) {
  header #nav .nav .nav-btn button {
    display: none;
  }
}
header #nav .nav .nav-menu {
  opacity: 0.6;
  display: none;
}
@media only screen and (max-width: 767px) {
  header #nav .nav .nav-menu {
    display: block;
  }
}
header #about-me {
  padding: 55px 0;
  background-color: #28293E;
}
header #about-me .about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
header #about-me .about-me h1 {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  header #about-me .about-me h1 {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 64px;
  }
}
header #about-me .about-me p {
  color: rgba(255, 255, 255, 0.6392156863);
  max-width: 570px;
}
header #blog-article {
  padding: 55px 0;
  background-color: #28293E;
}
header #blog-article .blog-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
header #blog-article .blog-article h1 {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  header #blog-article .blog-article h1 {
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 64px;
  }
}
header #blog-article .blog-article p {
  color: rgba(255, 255, 255, 0.6392156863);
  max-width: 570px;
}

footer #footer-contact {
  background-color: #fdf0e9;
  padding: 55px 0;
}
footer #footer-contact .footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EF6D58;
  border: none;
  border-radius: 6px;
  padding: 80px;
}
@media only screen and (max-width: 767px) {
  footer #footer-contact .footer-contact {
    flex-direction: column;
    row-gap: 50px;
    padding: 30px;
  }
}
footer #footer-contact .footer-contact .footer-contact-content {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  footer #footer-contact .footer-contact .footer-contact-content {
    order: 1;
  }
}
footer #footer-contact .footer-contact .footer-contact-content h1 {
  color: #fff;
  max-width: 600px;
}
@media only screen and (max-width: 767px) {
  footer #footer-contact .footer-contact .footer-contact-content h1 {
    font-size: 40px;
    line-height: 48px;
  }
}
footer #footer-contact .footer-contact .footer-contact-content p {
  color: rgba(255, 255, 255, 0.6392156863);
  max-width: 500px;
}
footer #footer-contact .footer-contact .footer-contact-content .footer-contact-btn button {
  margin-top: 20px;
  border: 1px solid transparent;
  transition: all 0.3s;
}
footer #footer-contact .footer-contact .footer-contact-content .footer-contact-btn button:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
footer #footer-contact .footer-contact .footer-contact-image img {
  width: 100%;
}
footer #agency {
  background-color: #fdf0e9;
  padding: 55px 0;
}
footer #agency .agency-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 80px;
}
footer #agency .agency-content nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  row-gap: 15px;
}
footer #agency .agency-content .agency-content-icons {
  display: flex;
  gap: 20px;
}
footer #agency .agency-content .agency-content-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #EF6D58;
  border-radius: 50%;
}
footer #footer-end {
  background-color: #fdf0e9;
  padding: 55px 0;
}
footer #footer-end .footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer-end .footer-end .footer-end-2 {
  display: flex;
  gap: 30px;
}

main #home-banner {
  background-color: #28293E;
  padding: 55px 0;
}
main #home-banner .home-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner {
    flex-direction: column;
    row-gap: 70px;
  }
}
main #home-banner .home-banner .home-banner-content {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  row-gap: 25px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner .home-banner-content {
    order: 1;
  }
}
main #home-banner .home-banner .home-banner-content h1 {
  color: #fff;
  max-width: 535px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner .home-banner-content h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
  }
}
main #home-banner .home-banner .home-banner-content p {
  color: rgba(255, 255, 255, 0.6392156863);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 470px;
}
main #home-banner .home-banner .home-banner-content .banner-btn .work {
  transition: all 0.3s;
}
main #home-banner .home-banner .home-banner-content .banner-btn .work:hover {
  background-color: transparent;
  border: 1px solid #EF6D58;
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner .home-banner-content .banner-btn .work {
    padding: 16px 26px;
  }
}
main #home-banner .home-banner .home-banner-content .banner-btn .contact {
  border: transparent;
  margin-left: 30px;
  transition: all 0.3s;
  width: 154px;
  height: 56px;
  font-weight: 400;
}
main #home-banner .home-banner .home-banner-content .banner-btn .contact:hover {
  background-color: rgba(255, 255, 255, 0.199);
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner .home-banner-content .banner-btn .contact {
    padding: 16px 26px;
  }
}
main #home-banner .home-banner .home-banner-content .star {
  position: absolute;
  top: 0;
  right: 20%;
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner .home-banner-content .star {
    display: none;
  }
}
main #home-banner .home-banner .home-banner-content .banner-comment {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  margin-top: 50px;
}
main #home-banner .home-banner .home-banner-content .banner-comment .comment-content {
  margin-left: 20px;
}
main #home-banner .home-banner .home-banner-content .banner-comment .comment-content span {
  color: #fff;
}
main #home-banner .home-banner .home-banner-content .banner-comment .comment-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  main #home-banner .home-banner .home-banner-content .banner-comment .comment-img img {
    align-items: flex-start;
  }
}
main #home-banner .home-banner .home-banner-image img {
  width: 100%;
}
main #logos {
  background-color: #fdf0e9;
  padding: 55px 0;
}
main #logos .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  padding: 40px 0;
  border-bottom: 1px solid #F3D1BF;
}
main #logos .logos img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  main #logos .logos {
    flex-direction: column;
    row-gap: 20px;
  }
}

main #blog-first-col {
  padding: 55px 0;
  background-color: #fdf0e9;
}
main #blog-first-col .blog-first-col {
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 55px;
}
main #blog-first-col .blog-first-col .col-content {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  gap: 30px;
}
main #blog-first-col .blog-first-col .col-content .col-image {
  overflow: hidden;
}
main #blog-first-col .blog-first-col .col-content h3 {
  width: 500px;
}
@media only screen and (max-width: 767px) {
  main #blog-first-col .blog-first-col .col-content h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
main #blog-first-col .blog-first-col img {
  width: 100%;
  transition: all 0.3s;
}
main #blog-first-col .blog-first-col img:hover {
  transform: scale(1.1);
  filter: grayscale(0.5);
}

#blog-second-col {
  background-color: #fdf0e9;
  padding: 55px 0;
}
#blog-second-col .second-col-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  border-bottom: 1px solid #F3D1BF;
}
#blog-second-col .second-col-btn button {
  transition: all 0.3s;
}
#blog-second-col .second-col-btn button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #EF6D58;
}
#blog-second-col .col-content {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  gap: 30px;
}
#blog-second-col .col-content img {
  width: 100%;
  transition: all 0.3s;
}
#blog-second-col .col-content img:hover {
  transform: scale(1.1);
  filter: grayscale(0.5);
}
#blog-second-col .col-content .col-image {
  overflow: hidden;
}
#blog-second-col .col-content h4 {
  width: 380px;
}
@media only screen and (max-width: 767px) {
  #blog-second-col .col-content h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
#newsletter {
  padding: 55px 0;
  background-color: #fdf0e9;
}
#newsletter .newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  #newsletter .newsletter {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  #newsletter .newsletter .input-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  #newsletter .newsletter h3 {
    font-size: 40px;
  }
}
#newsletter .newsletter input {
  width: 370px;
  outline: none;
}
@media only screen and (max-width: 767px) {
  #newsletter .newsletter input {
    width: 333px;
  }
}
#newsletter .newsletter button {
  margin-left: 25px;
  transition: all 0.3s;
}
#newsletter .newsletter button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #EF6D58;
}/*# sourceMappingURL=main.css.map */