header{
    #nav{
        background-color: $bg-color-mu;
        .nav{
            height: 75px;
            @include displayF(flex,space-between,center);
            ul{ @include displayF();
                column-gap: 100px;
                li{
                    a{
                        color: $color-light;
                        font-size: 16px;
                        font-weight: 400;
                        opacity: 0.6;
                        transition: all 0.3s;
                        &:hover{
                            opacity: 1;
                        }
                        
                    }
                }

                @media only screen and (max-width:767px){
                    display: none;
                }

            }

            .nav-btn{
                button{
                    @extend %transparent-btn;
                    transition: all 0.3s;

                    &:hover{
                        background-color: rgba(255, 255, 255, 0.199);
                    }

                    @media only screen and (max-width:767px){
                        display: none;
                    }
                }
            }

            .nav-menu{
                opacity: 0.6;
                display: none;


                @media only screen and (max-width:767px){
                    display: block;
                }
            }

        }
    }
    #banner-name{
        padding: 55px 0;
        background-color: $bg-color-mu;
        .banner-name{
            @include displayF();
            flex-direction: column;
            gap: 20px;
            text-align: center;
            h1{
                color: $color-light;

                @media only screen and (max-width:767px){
                    font-size: 50px;
                    letter-spacing: -1px;
                    line-height: 64px;
                }
            }
            p{
                @extend %text_gray;
                color: #FFFFFFA3;
                max-width: 570px;
            }
        }
    }
}