header{
    background-color: #212529;
    height: 555px;
}

.nav ul{
    list-style: none;
    margin-bottom: 0rem;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    color: white;
}
.nav ul li:first-child a{
    color: white;
}

.nav li a{
    color: rgba(255, 255, 255, 0.453);
    transition: all 0.3s;
}

.nav ul li a:hover{
    opacity: 100%;
    color: white;
}

.head{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.features .row .col > i{
    font-size: 60px;
    padding: 15px;
    display: inline-block;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
}

#plan, #contact{
    background-color: #F8F9FA;
    padding: 50px 0;
}


#footer{
    height: 200px;
    padding: 50px 0;
    background-color:#212529 
}
#comments{
    padding: 50px 0;
}

.plan , .comments, .contact{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


hr{
    margin: 0;
}
 .cards ul li i{
    font-size: 10px;
    margin-right: 7px;
 }

 .cards ul li{
    display: flex;
    justify-content: baseline;
    align-items: center;
 }



 .comment-card i{
    font-size: 20px;
 }

 .contact-icon i{
    background-color: aqua;
    padding: 1.5rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
 }
