// buttons
%pimary-btn{
    background-color: $primary-color;
    line-height: 42px;
    border-radius: 25px;
    padding: 0 30px;
    border: 1px solid transparent;
    color: $color-light;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

%purchase-btn{
    background-color: $color-dark;
    line-height: 42px;
    padding: 0 30px 0 60px;
    color: $color-light;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

%email-btn{
    background-color: $primary-color;
    line-height: 40px;
    border-radius: 57px;
    padding: 0 30px;
    color: $color-light;
    height: 36px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

// inputs

%weight-inpt{
    color: $color-light;
    font-size: 12px;
    padding: 12px;
    border: 1px solid #f96481;
    width: 300px;
    line-height: 1.5rem;
    background-color: transparent;
}
%email-inpt{
    font-size: 13px;
    border-radius: 20px;
    background-color: #f9f9ff;
    flex: 1 1 auto;
    width: 1%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5rem;
}