*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p{
  color: #848484;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}

::selection{
  background-color: red;
  color: white;
}

